body{
    background-color: #D7CDCD;
}
/*Заголовок страницы*/
h2{
    width:90%;
    margin: 70px auto ;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 30px;
    /* or 62% */

    letter-spacing: -0.015em;

    color: #000000;
}
/*Основное содержимое страницы*/
#Prof{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:90%;
    
    margin: auto;
    margin-bottom: 50px;
    
}
/*Правая часть содержимого с цитатой и картинками*/
#pics{
    width:50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
/*Художник и информация о нем*/
#artits{
    width:35%;
}
#artits img{
    width:100%;
    max-width: 400px;   
    
    
}
/*Картины художника*/
table img{
    width:25%;
    padding: 19px 35px;
}
/*Цитата и автор*/
#ct, #au{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    /* or 139% */

    letter-spacing: -0.015em;

    color: #000000;
}
#au{
    font-size: 24px;
}
/*Информация о художнике*/
#artits p{
    
    
    
    display: inline-block;
    max-width: 500px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    /* or 100% */

    letter-spacing: -0.015em;

}