
body{
    background-color: #E5E5E5;
}
/*"Окно" с полями ввода*/
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width:50%;
    min-height: 700px;
    max-width: 600px;
    margin: 200px auto ;
}
/*Заголовок в "Окне" с полями ввода*/
#form h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 80px;
    /* or 143% */

    letter-spacing: -0.015em;

    color: #000000;

}
/*поля ввода*/
.simpleText{
    width:80%;
    padding: 10px;
    padding-left: 36px;
    margin-bottom: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 160% */

    letter-spacing: -0.015em;

    color: rgba(0, 0, 0, 0.8);
}
/*Контейнер для кнопки, для ее прощего выравнивания*/
#contein{
    display: flex;
    width:100%;
    justify-content: center;
    
}
/*Кнопка регистрации*/
.Button_join{
    color:#fff;
    width: 20%;    
    min-width: 250px;
    height: 52px;
    text-align: center;
    font-family: Montserrat;
    background-color:#18A0FB;
    border: 0px;
    box-sizing: border-box;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 60px;
    font-size:15px;
}
/*Контейнер для чек бокс и параграфа*/
#hochu{
    display: flex;
    width:80%;
    margin-left: -50px;
    align-items: flex-start;    
}
/*Параграф на против чек бокса*/
#hochu p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 160% */

    letter-spacing: -0.015em;

    color: rgba(0, 0, 0, 0.8);
    margin-top: -2px;
    padding-left: 15px;
}